.features h3{
    font-size: 1.5rem;
}

.features{
    width: 100%;
    height: 100%;
}

.features p{
    font-size: 1.1rem;
}



.cls{
    font-size: 40px;
    color: black;
    font-family: "Salsa", cursive;
}

#headingTitle{
    font-family: "Merriweather", serif;
}

.secondTitle{
    font-family: "Bree Serif", serif;
}

.h3{
    font-family: "Esteban", serif;
  font-weight: 400;
}

.card-title{
    font-family: "Lora", serif; 
}